<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.xml.security.utils.DigesterOutputStream" level="WARN"/>
  <logger name="org.apache.xml.security.utils.SignerOutputStream" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
